.title{
  color: rgb(0, 13, 255);
  font-weight: 900;
  font-size: 50px;
}
footer .nav-link, footer h5, footer p{
  color: #ffffff !important;
}
.container-fluid .card .card-body .card-title {
  color:red;
  /* font-size: xx-large; */
  /* font-style: italic; */
  /* font-weight: 900; */

}
.card img{
  object-fit: contain;
  height: 200px;
}
.card-title{
height: 100px;
font-size: 15px;
}
/* .card-body .card-title{
  font-size: 5px;
} */
 .card-body h4{
  font-size: 12px;
}

